.App {
  text-align: center;
 
}

.carte{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
  border: 5px solid gray;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}